@model ABdolphin.Models.Farmer

@{
    ViewBag.Title = "Farmerlist";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("Farmerlist", "Farmers", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="contents">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-30">
                    <div class="card">
                        <div class="card-body">
                            <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table">
                                <div class="table-responsive">
                                    <div class="adv-table-table__header">
                                        <h4>Data Table</h4>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 mb-30">
                    <div class="card">
                        <div class="card-body">
                            <h5>Booking Details</h5>
                            <div class="table-responsive">
                                <table id="table_id" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Affiliate Name</th>
                                            <th>Customer Name</th>
                                            <th>Booking Date</th>
                                            <th>Plot Amount</th>
                                            <th>Plot Details</th>
                                            <th>Booking Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>KAMINI SRIVASTAV</td>
                                            <td>ANKITA </td>
                                            <td>31/12/2021</td>
                                            <td>787500.00</td>
                                            <td>Dolphin Green City, Sector 1, Block D, D170</td>
                                            <td>Registered</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>arvind kumar</td>
                                            <td>DEENDAYAL PRASAD</td>
                                            <td>31/12/2020</td>
                                            <td>623750.00</td>
                                            <td>Dolphin Green City, Sector 1, Block D, D171</td>
                                            <td>Registered</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>CHANDRA SHEKHAR YADAV</td>
                                            <td>HARINATH YADAV </td>
                                            <td>31/12/2020</td>
                                            <td>623750.00</td>
                                            <td>Dolphin Green City, Sector 1, Block D, D11</td>
                                            <td>Registered</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>SUNIL KUMAR VERMA </td>
                                            <td>SUNIL KUMAR VERMA</td>
                                            <td>31/12/2020</td>
                                            <td>499000.00</td>
                                            <td>Dolphin Green City, Sector 1, Block B, B177</td>
                                            <td>Booked</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>CHANDRA SHEKHAR YADAV</td>
                                            <td>CHANDRA SHEKHAR YADAV</td>
                                            <td>31/12/2020</td>
                                            <td>623750.00</td>
                                            <td>Dolphin Green City, Sector 1, Block D, D14</td>
                                            <td>Registered</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-end m-r-20">
                                    <a href="#!" class="b-b-primary btn btn-dark text-white" id="myBtn">View all Bookings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
    $("#mybtn").click(function () {
        alert("okk");
    })

    </script>

}