
@{
    Layout = null;
}


<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AdminDashBoard</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- inject:css-->

    <link href="~/assets/css/plugin.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    @* data table cnd css *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">


    <!-- endinject -->

    @*<link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon.png">*@
</head>
@RenderBody();
<body class="layout-dark side-menu overlayScroll">
    <div class="mobile-search">
        <form class="search-form">
            <span data-feather="search"></span>
            <input class="form-control mr-sm-2 box-shadow-none" type="text" placeholder="Search...">
        </form>
    </div>

    <div class="mobile-author-actions"></div>
    <header class="header-top">
        <nav class="navbar navbar-light">
            <div class="navbar-left">
                <a href="#" class="sidebar-toggle">
                    <img class="svg" src="~/assets/img/svg/bars.svg" alt="img">
                </a>
                <a class="navbar-brand" href="/Admin/AdminDashBoard"><img class="dark" src="~/assets/Images/logo.png" alt="svg"><img class="light" src="~/assets/Images/logo.png" alt="img"></a>

                <form  class="search-form">
                    <span data-feather="search"></span>
                    <input class="form-control mr-sm-2 box-shadow-none" type="text" placeholder="Search...">
                </form>
            </div>
            <!-- ends: navbar-left -->

            <div class="navbar-right">
                <ul class="navbar-right__menu">
                    <li class="nav-search d-none">
                        <a href="#" class="search-toggle">
                            <i class="la la-search"></i>
                            <i class="la la-times"></i>
                        </a>
                        <form action="https://demo.jsnorm.com/" class="search-form-topMenu">
                            <span class="search-icon" data-feather="search"></span>
                            <input class="form-control mr-sm-2 box-shadow-none" type="text" placeholder="Search...">
                        </form>
                    </li>
                    <li class="nav-author">
                        <div class="dropdown-custom">
                            <a href="javascript:;" class="nav-item-toggle"><img src="~/assets/img/author-nav.jpg" alt="" class="rounded-circle"></a>
                            <div class="dropdown-wrapper">
                                <div class="nav-author__info">
                                    <div class="author-img">
                                        <img src="~/assets/img/author-nav.jpg" alt="" class="rounded-circle">
                                    </div>
                                    <div>
                                        <h6>Hello (@Session["LoginId"])</h6>
                                        <span>@Session["Name"]</span>
                                    </div>
                                </div>
                                <div class="nav-author__options">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span data-feather="settings"></span> Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span data-feather="key"></span> Change Password
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="/Home/Login" class="nav-author__signout">
                                        <span data-feather="log-out"></span> Logout
                                    </a>
                                </div>
                            </div>
                            <!-- ends: .dropdown-wrapper -->
                        </div>
                    </li>
                    <!-- ends: .nav-author -->
                </ul>
                <!-- ends: .navbar-right__menu -->
                <div class="navbar-right__mobileAction d-md-none">
                    <a href="#" class="btn-search">
                        <span data-feather="search"></span>
                        <span data-feather="x"></span>
                    </a>
                    <a href="#" class="btn-author-action">
                        <span data-feather="more-vertical"></span>
                    </a>
                </div>
            </div>
            <!-- ends: .navbar-right -->
        </nav>
    </header>
    <main class="main-content">

        <aside class="sidebar-wrapper">
            <div class="sidebar sidebar-collapse" id="sidebar">
                <div class="sidebar__menu-group">
                    <ul class="sidebar_nav">
                        <li>
                            <a href="/Admin/AdminDashBoard" class="">
                                <span data-feather="home" class="nav-icon"></span>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="has-child">
                            <a href="#">
                                <span data-feather="home" class="nav-icon"></span>
                                <span class="menu-text">Farmer Management</span>
                                <span class="toggle-icon"></span>
                            </a>
                            <ul>
                                <li>
                                    <a class="active" href="/Farmers/AddFarmers">Add Farmer</a>
                                </li>
                                <li>
                                    <a class="active" href="/Farmers/Farmerlist">View Farmer</a>
                                </li>
                                <li>
                                    <a class="active" href="#">Farmer Plot Registry</a>
                                </li>
                                <li>
                                    <a class="active" href="#">Farmer Payment List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-child">
                            <a href="#">
                                <span data-feather="home" class="nav-icon"></span>
                                <span class="menu-text">Expense Management</span>
                                <span class="toggle-icon"></span>
                            </a>
                            <ul>
                                <li>
                                    <a  href="/Expense/Accountlist">View Account</a>
                                </li>
                                <li>
                                    <a  href="/Master/ExpenseTypeMaster">Expense Type</a>
                                </li>
                                <li>
                                    <a  href="/Expense/Expenselist">View Expense</a>
                                </li>
                                <li>
                                    <a  href="/Expense/ViewCrExpense">Credit Income</a>
                                </li>
                                <li>
                                    <a href="/Expense/ViewDrExpense">Dr Expense</a>
                                </li>
                                <li>
                                    <a  href="/Expense/ExpenseLedger">Expense Ledger</a>
                                </li>
                                <li>
                                    <a  href="/Master/ExpenseCategoryMaster">Expense Category</a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>

                </div>
            </div>
        </aside>



    </main>
    <div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
    </div>
    <div class="overlay-dark-sidebar"></div>
    <div class="customizer-overlay"></div>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script>
    <!-- inject:js-->
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/js/script.min.js"></script>
    <!-- endinject-->

    @* data table cnd js *@
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="http://maps.googleapis.com/maps-api-v3/api/js/54/6/util.js"></script>

    <script>
        /// For DataTable
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                pagingType: "numbers",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    </script>
</body>

</html>

