@model ABdolphin.Models.Home

@{
    Layout = null;
}


<style>
    .edit-profile .card {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- inject:css-->

    <link rel="stylesheet" href="~/assets/css/plugin.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- endinject -->

    @*<link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon.png">*@
</head>


<body>
@using (Html.BeginForm("LoginAction", "Home", FormMethod.Post, new { @id = "form1" }))
{
    <main class="main-content">
        <div class="signUP-admin">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-4 col-lg-5 col-md-5 p-0">
                        <div class="signUP-admin-left signIn-admin-left position-relative">
                            <div class="signUP-overlay">
                                <img class="svg signupTop" src="https://www.abdolphininfratech.com/assetsWeb/img/logo.png" alt="img">
                                <img class="svg signupBottom" src="https://www.abdolphininfratech.com/assetsWeb/img/logo.png" alt="img">
                            </div>
                            <div class="signUP-admin-left__img">
                                <img class="img-fluid svg" src="~/assets/img/svg/signupIllustration.svg" alt="img">
                            </div><!-- End: .signUP-admin-left__img  -->
                        </div><!-- End: .signUP-admin-left  -->
                    </div><!-- End: .col-xl-4  -->
                    <div class="col-xl-8 col-lg-7 col-md-7 col-sm-8">
                        <div class="signUp-admin-right signIn-admin-right  p-md-40 p-10">

                            <div class="row justify-content-center">
                                <div class="col-xl-7 col-lg-8 col-md-12">
                                    <div class="edit-profile mt-md-25 mt-0">
                                        <div class="card border-0 shadow">
                                            <div class="card-header border-0  pb-md-15 pb-10 pt-md-20 pt-10 ">
                                                <div class="edit-profile__title">
                                                    <h6>Sign <span class="color-primary">In</span></h6>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="edit-profile__body">
                                                    <div class="form-group mb-20">
                                                        <label for="username">Login Id </label>
                                                       @Html.TextBoxFor(m => m.LoginId, new {@class="form-control", @Placeholder = "Login Id", @required = "required" })
                                                    </div>
                                                    <div class="form-group mb-15">
                                                        <label for="password-field">Password</label>
                                                        <div class="position-relative">
                                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "Password", @required = "required" })
                                                            <div class="fa fa-fw fa-eye-slash text-light fs-16 field-icon toggle-password2"></div>
                                                        </div>
                                                    </div>
                                                    <div class="signUp-condition signIn-condition">
                                                      
                                                        <a href="forget-password.html">forget password</a>
                                                    </div>
                                                    <div class="button-group d-flex pt-1 justify-content-md-start justify-content-center">
                                                        <button class="btn btn-primary btn-default btn-squared mr-15 text-capitalize lh-normal px-50 py-15 signIn-createBtn ">
                                                            sign in
                                                        </button>
                                                    </div>
                                                </div>
                                            </div><!-- End: .card-body -->
                                        </div><!-- End: .card -->
                                    </div><!-- End: .edit-profile -->
                                </div><!-- End: .col-xl-5 -->
                            </div>
                        </div><!-- End: .signUp-admin-right  -->
                    </div><!-- End: .col-xl-8  -->
                </div>
            </div>
        </div><!-- End: .signUP-admin  -->
    </main>
    <div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
    </div>

    <!-- inject:js-->

    <script src="~/assets/js/plugins.min.js"></script>

    <script src="~/assets/js/script.min.js"></script>
    
    <!-- endinject-->
}
</body>


<style>
    .form-group{
        margin-top:20px;
    }
     .fa-eye-slash{
        margin-top:12px;
        right:8px;
    }
</style>