@model ABdolphin.Models.Home

@{
    Layout = null;
}



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- inject:css-->

    <link rel="stylesheet" href="~/assets/css/plugin.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- endinject -->

    @*<link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon.png">*@
</head>


<body>
@using (Html.BeginForm("LoginAction", "Home", FormMethod.Post, new { @id = "form1" }))
{
    <main class="main-content">
        <div class="signUP-admin">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-5 p-0">
                        <div class="signUP-admin-left signIn-admin-left position-relative">
                            <div class="signUP-admin-left__img">
                                <img class="img-fluid svg" src="~/assets/img/svg/signupIllustration.svg" alt="img" />
                            </div><!-- End: .signUP-admin-left__img  -->
                        </div><!-- End: .signUP-admin-left  -->
                    </div><!-- End: .col-xl-4  -->
                    <div class="col-xl-8 col-lg-7 col-md-7 col-sm-8">
                        <div class="signUp-admin-right signIn-admin-right  p-md-40 p-10">
                            <div class="signUp-topbar d-flex align-items-center justify-content-md-end justify-content-center mt-md-0 mb-md-0 mt-20 mb-1">
                                
                            </div><!-- End: .signUp-topbar  -->
                            <div class="row justify-content-center">
                                <div class="col-xl-7 col-lg-8 col-md-12">
                                    <div class="edit-profile mt-md-25 mt-0">
                                        <div class="card border-0">
                                            <div class="card-body" style="border:1px dotted blue">
                                                <div class="edit-profile__body">
                                                    <p style="color:red;">
                                                        @TempData["Login"]
                                                    </p>
                                                    <div class="form-group">
                                                        <label for="username">UserId</label>
                                                        @Html.TextBoxFor(m => m.LoginId, new { @class ="form-control", @Placeholder = "Login Id", @required = "required" })
                                                    </div>
                                                    <div class="form-group mb-15">
                                                        <label for="password-field">Password</label>
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "password", @required = "required" })
                                                        <div class="fa fa-fw fa-eye-slash text-light fs-16 field-icon toggle-password2"></div>
                                                    </div>

                                                    <div>
                                                        <div>
                                                            <div class="form-group no-margin">
                                                                <a style="color: #413b34;font-size: 14px;font-weight: 400;" href="#">Forgot Password?</a>
                                                            </div>
                                                        </div>
                                                        <div style="margin-left:50px ; margin-top:20px">
                                                            <div class="form-group no-margin">
                                                                <input type="submit" id="Login" class="btn btn-primary btn-default btn-squared mr-15 text-capitalize lh-normal px-50 py-15 signIn-createBtn " name="Login" value="Sign In">

                                                            </div>
                                                        </div>
                                                    </div>

                                                    </div>
                                            </div><!-- End: .card-body -->
                                        </div><!-- End: .card -->
                                    </div><!-- End: .edit-profile -->
                                </div><!-- End: .col-xl-5 -->
                            </div>
                        </div><!-- End: .signUp-admin-right  -->
                    </div><!-- End: .col-xl-8  -->
                </div>
            </div>
        </div><!-- End: .signUP-admin  -->

    </main>
    <div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
    </div>

    <!-- inject:js-->

    <script src="~/assets/js/plugins.min.js"></script>

    <script src="~/assets/js/script.min.js"></script>
    
    <!-- endinject-->
}
</body>


<style>
    .form-group{
        margin-top:20px;
    }
     .fa-eye-slash{
        margin-top:12px;
        right:8px;
    }
</style>